body {
    cursor: url(img/huella.png), auto;
}

/* Estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.seccion-titulo {
    font-size: 3rem;
    padding: 15px 0;
    font-family: "Sacramento", cursive;
}

.seccion-texto {
    font-size: 1.2rem;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #4D4D4D;
    margin: 0 0 40px 0;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}


.navbar {
    padding: 2rem;
    background-color: #E6E6E6;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.imagen-nav {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    overflow: visible;
}

/* Seccion Hero */
.hero {
    background-color: white;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-imagen-perfil {
    width: 150px;
    margin: 20px;
}

.hero-principal h1 {
    font-size: 4.5rem;
    color: #615151;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: rgb(41, 41, 41);
}

.hero-inferior img {
    max-width: 400px;
    margin: 0 0 10px 0;
}

.seccion-oscura {
    color: white;
    background-color: #091123;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.sobre-mi {
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;
}

/* Experiencia */
.experiencia {
    padding: 20px;
}

.experiencia .row div {
    height: 300px;
    padding: 10px 20px 10px 20px;
}

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.experiencia .columna {
    margin-top: 20px;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #4D4D4D;

}

.columna img {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    overflow: visible;
}

.custom-bg-color {
    background-color: #8CC63F;
    /* Puedes añadir otros estilos según sea necesario */
}

/* Proyectos */
.proyectos-recientes {
    padding: 40px;
    margin-top: 40px;
}

.proyectos-recientes img {
    height: 60%;
    width: 60%;
    padding: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}


.proyecto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    
}

.proyecto:hover .foto {
    cursor: zoom-in;
}

.foto.clicked {
    /* transform: scale(1.2); */
    width: 100%;
    height: 100%;
    cursor: zoom-out;
}

.gato {
    width: 10px;
    margin: 10px;
}

/* Adaptable (responsive) */
@media screen and (max-width: 767px) {
    .navbar-brand {
        /* display: none; */
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .hero-inferior img {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .columna {
        border: 2px solid #8080804d;
    }
}